@charset "UTF-8";

* {
    /*box-sizing: inherit;*/
}

.nav{
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
    height: 40px;
    /*下面两行让多个div在nav里面均匀排列*/
    justify-content: space-around;
    display: flex;
}

.nb-a {
    margin-top: 2px;
    /*display: inline-block;*/
    text-align: center;
    float: left;
    font-size: 25px;
    color: #666666;
    transition: all 0.3s;
}

.author{
    width: 1250px;
    margin-left:auto;
    margin-right:auto;
    /*下面两行让多个div在nav里面均匀排列*/
    justify-content: space-around;
    display: flex;
    margin-top: -15px;
    margin-bottom: 20px;
}

.author-single {
    margin-top: 2px;
    /*display: inline-block;*/
    text-align: center;
    float: left;
    font-size: 25px;
    color: #0000FF;
    transition: all 0.3s;
}

.paper-title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 500;
    margin-left:auto;
    margin-right:auto;
    width: 1400px;
    text-align:center;
}
.box {
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(184, 197, 214, .5);
    -moz-box-shadow: 0 0 10px rgba(184, 197, 214, .5);
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 8px solid white;
}
.title{
    line-height: 2em;
    font-size: 25px;
    font-weight: normal;
    color: black;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    margin-bottom: -5px;
}


.title_little{
    line-height: 2em;
    font-size: 25px;
    /*加粗*/
    font-weight: bold;
    color: black;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    margin-bottom: -10px;
}

.word{
    text-indent:1.5em;
    font-size: 20px;
    text-align:justify;
    text-justify:auto;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    line-height: 35px;
}

.word-img{
    text-align:center;
    font-size: 20px;
    text-justify:auto;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    line-height: 35px;
}

.word-intro{
    font-size: 20px;
    text-align:justify;
    text-justify:auto;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    line-height: 35px;
}

.herf-word{
    font-size: 20px;
    text-align:justify;
    text-justify:auto;
    color: #0000FF;
    font-family: "Microsoft Yahei", "微软雅黑", verdana, serif;
    line-height: 35px;
}

.download-href{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.download-href-word{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.download-tr-num{
    width: 30px;
    height: 30px;
    border-right: white;
    border-right-width: 5px;
    border-right-style: solid;
    background-color: #173FA3;
}

.download-tr{
    border-right: white;
    border-right-width: 5px;
    border-right-style: solid;
    background-color: #173FA3;
}